.root{
    -fx-background-radius : 8;

}
.menu{
    -fx-background-color:  #d9abff;
}
.titulo{
    -fx-text-fill:  #330708 ;

}
.botao-menu{
    -fx-background-color :  transparent;
}

.fundo{
    -fx-background-color :  #f8f2f1;
}

.botao-menu:hover{
    -fx-background-color: #ffa7c1 ;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.botao:hover{

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}
